pre {
	font-family: "Source Code Pro", "Courier", "Courier New", monospace;
	border: 1px dotted brown;
	background-color: #ede0c0;
	background-image: url(./img/rave-guy.png);
	background-position: top right;
	background-repeat: no-repeat;
}

h1, h2 {
	font-family: "Helvetica", "Arial", "Helvetica Neue", sans-serif;
}

p.app-name {
	color: #550000;
}

p.app-main {
	color: #555500;
}
